@use '../../../assets/styles/color' as color;
@use '../../../assets/styles/mixin';

.container {
    /*display*/
    display: flex;
    align-items: center;
    /*box model*/
    width: 100%;
    margin: 20px 0;
    /*other*/
    color: black;
    cursor: pointer;
    &:hover .iconHome {
        content: url('../../../assets/icons/nav/nav_home_action.png');
    }
    &:hover .iconUser {
        content: url('../../../assets/icons/nav/nav_user_action.png');
    }
    &:hover .iconSetting {
        content: url('../../../assets/icons/nav/nav_set_action.png');
    }
    &:hover .title {
        color: color.$brand-color;
    }
}
.iconStyle {
    margin: 0 15px;
    width: 20px;
    height: 20px;
}

.title {
    /*other*/
    font-size: 16px;
    font-weight: 700;
    &.activeTitle {
        color: color.$brand-color;
    }
}

.iconHome {
    content: url('../../../assets/icons/nav/nav_home.png');
    height: 100%;
    display: block;
    cursor: pointer;
    &.activeIcon {
        content: url('../../../assets/icons/nav/nav_home_action.png');
    }
}


.iconUser {
    content: url('../../../assets/icons/nav/nav_user.png');
    height: 100%;
    display: block;
    cursor: pointer;
    &.activeIcon {
        content: url('../../../assets/icons/nav/nav_user_action.png');
    }
}



.iconSetting {
    content: url('../../../assets/icons/nav/nav_set.png');
    height: 100%;
    display: block;
    cursor: pointer;

    &.activeIcon {
        content: url('../../../assets/icons/nav/nav_set_action.png');
    }
}
@media screen and (max-width: 991px) {
    .title {
        display: none;
    }
}

