@use '../../../assets/styles/color' as color;
@use '../../../assets/styles/mixin';

.suggestFollowContainer {
    /*display*/
    display: flex;
    flex-direction: column;
    /*box model*/
    width: 273px;
    // height: 100%;
    height: 900px;
    border-radius: 16px;
    /*other*/
    background-color: color.$gray-2;
    margin-top: 16px;
    margin-left: 24px;
}

.suggestUserTitle {
    /*display*/
    display: flex;
    align-items: center;
    /*box model*/
    height: 74px;
    margin-left: 24px;
    /*other*/
    line-height: 100%;
    
}


.suggestUserCard {
    /*display*/
    display: flex;
    flex-direction: column;
    /*other*/
    border-top: 1px solid #e6ecf0;
    // overflow-y: scroll;
    // overflow-x: hidden;
}

@media screen and (max-width: 991px) {
    .suggestFollowContainer {
        display: none;
    }
}
