@use '../../assets/styles/color' as color;

.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.userToggleMenu {
  display: flex;
}
.tweetList {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 600px;
}