@use '../../../assets/styles/color' as color;
@use '../../../assets/styles/mixin';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.container {
  /*display*/
  display: flex;
  flex-direction: column;
  /*box model*/
  height: 634px;
  width: 610px;
  margin: 56px auto;
  border-radius: 14px;
  background-color: white;
}

.userCard {
  /*display*/
  position: relative;
}
.header {
  /*display*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*box model*/
  height: 57px;
  width: 100%;
  padding: 0 16px;
  .left {
    display: flex;
  }
  .modalEsc {
    /*box model*/
    height: 20px;
    width: 20px;
    margin-right: 36px;
    cursor: pointer;
  }
}

.cover {
  /*box model*/
  width: 100%;
  height: 200px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .bgImg {
    /*box model*/
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.userInfoAvatar {
  /*display*/
  position: absolute;
  top: 124px;
  left: 17px;
  /*box model*/
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid color.$gray-1;
  overflow: hidden;
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .img {
    width: 100%;
    display: block;
  }
}
.infoEdit {
  margin: 80px 16px 0 16px;
}

.upload,
.cancel {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 90px;
  z-index: 3;
  overflow: hidden;
}
.upload {
  left: 279px;
}
.cancel {
  left: 338px;
}

.uploadImg, 
.cancelImg {
  height: 100%;
  cursor: pointer;
}
.cancelImg {
  width: 15px;
  height: 15px;
}
.avatarUpload {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 184px;
  left: 76px;
  z-index: 3;
  overflow: hidden;
  cursor: pointer;
}

.fileInput {
  display: none;
}

@media screen and (max-width: 991px) {
  .container {
      width: 375px;
      height: 881px;
    }
  .upload {
    left: 150px;
  }

  .cancel {
    left: 208px;
  }
}