.middleContainer {
    /*box model*/
    width: 639px;
    border-left: 1px solid#e6ecf0;
    border-right: 1px solid#e6ecf0;
}

@media screen and (max-width: 991px) {
    .middleContainer {
        width: 375px;
    }
}
