@use '/src/assets/styles/color' as color;
@use '/src/assets/styles/mixin';

.container {
    /*box model*/
    height: 100vh;
    /*display*/
    display: flex;
    justify-content: center;
    overflow: hidden;

    .userToggleMenu {
        /*display*/
        display: flex;
    }
}
.mainContainer{
    overflow-y: scroll;
}