.adminContainer {
  /*display*/
  display: flex;
  justify-content: center;
  /*box model*/
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.middleContainer {
  /*box model*/
  width: 100%;
  // margin-left: 24px;
  border-left: 1px solid#e6ecf0;
}

.cardContainer {
  /*display*/
  display: grid;
  grid-template-columns: repeat(4, 210px);
  grid-gap: 16px;
  /*box model*/
  padding: 16px;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 300px;
}
