@use '/src/components/styles/color' as color;
@use '/src/components/styles/mixin';

.SuggestFollowContainer {
    display: flex;
    flex-direction: column;
    width: 273px;
    height: 100%;
    border-radius: 16px;
    background-color: color.$gray-2;
    margin-top: 16px;
}

.suggestUserTitle {
    // @include mixin.font-setting(24px, 700, color.$gray-10);
    display: flex;
    align-items: center;
    height: 74px;
    line-height: 100%;
    margin-left: 24px;
    
}
// .line {
//     border-bottom: 1px solid #e6ecf0;
// }

.suggestUserCard {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e6ecf0;
    // overflow-y: scroll;
    // overflow-x: hidden;
}
