// colors
$brand-color: #FF6600;
$primary-color: #0062FF;
$secondary-color: #6C757D;
$success-color: #3DD598;
$warning-color: #FFC542;
$error-color: #FC5A5A;

// assistant color
$assistant-orange: #FF974A;
$assistant-blue: #50b5FF;
$assistant-green: #82C43C;
$assistant-purple: #A461D8;
$assistant-pink: #FF9AD5;

// grayscale color
$gray-10: #171725;
$gray-9: #44444F;
$gray-8: #696974;
$gray-7: #92929D;
$gray-6: #B5B5BE;
$gray-5: #D5D5DC;
$gray-4: #E2E2EA;
$gray-3: #F1F1F5;
$gray-2: #FAFAFB;
$gray-1: #FFFFFF;
