
.button {
  /*box model*/
  width: 356px;
  padding: 6px 0;
  margin: 16 0;
  border-radius: 30px;
  border: none;
  /*other*/
  font-size: 20px;
  color: white;
  background-color: #ff6600;
  font-family: 'Noto Sans TC', sans-serif;
  cursor: pointer;
}
.link {
  /*display*/
  display: flex;
  justify-content: flex-end;
  /*box model*/
  height: 18px;
  margin: 22px 0;
}
.span {
  /*box model*/
  margin: 0 12px;
  border-bottom: 1px solid #0062ff;
  /*other*/
  color: #0062ff;
  font-size: 16px;
  cursor: pointer;
}