.link {
  /*display*/
  display: flex;
  justify-content: flex-end;
  /*box model*/
  height: 18px;
  margin: 22px 0;
}
.span {
  /*box model*/
  margin: 0 12px;
  border-bottom: 1px solid #0062ff;
  /*other*/
  color: #0062ff;
  font-size: 16px;
  cursor: pointer;
}