.adminContainer {
  /*display*/
  display: flex;
  justify-content: center;
}
.navBar {
  /*box model*/
  height: 1200px;
  width: 178px;
  border: 1px solid#ff6600;
}
.middleContainer {
  /*box model*/
  width: 639px;
  margin: 0 24px;
  border-left: 1px solid#e6ecf0;
  border-right: 1px solid#e6ecf0;
}
.inputContainer {
  /*display*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*box model*/
  padding: 17px 24px;
}
.placeHolder {
  width: 273px;
}
 
.rwdBtn {
  margin: 24px 16px;
  display: none;
}
.span {
  /*box model*/
  
  border-bottom: 1px solid #0062ff;
  /*other*/
  color: #0062ff;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .placeHolder {
      display: none;
    }
  .middleContainer {
    /*box model*/
    width: 375px;
    border: none;
  }
  .rwdBtn {
    display: flex;
  }
}