@use '../../../assets/styles/color' as color;
@use '../../../assets/styles/mixin';

// .container {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
// }
.userCard {
    /*display*/
    position: relative;
    display: flex;
    flex-direction: column;
    // height: 100vh;
    .cover {
        /*box model*/
        width: 100%;
        height: 200px;
        /*display*/
        overflow: hidden;

        .bgImg {
            /*box model*/
            width: 100%;
            height: 100%;
            /*display*/
            display: block;
            object-fit: cover;
        }
    }
    .userInfo {
        /*box model*/
        top: 124px;
        left: 24px;
        /*display*/
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .userInfoAvatar {
            /*box model*/
            width: 140px;
            height: 140px;
            border-radius: 50%;
            /*display*/
            overflow: hidden;
            border: 4px solid color.$gray-1;

            .img {
                /*box model*/
                width: 100%;
                /*display*/
                display: block;
            }
        }
        .userInfoCard {
            /*display*/
            display: flex;
            flex-direction: column;
            gap: 8px;

            .userInfoName {
                /*box model*/
                width: 200px;
                /*display*/
                text-overflow: ellipsis;
                /*other*/
                @include mixin.font-setting(18px, 700, color.$gray-10);
            }
            .userInfoAccount {
                /*box model*/
                width: 200px;
                /*display*/
                text-overflow: ellipsis;
                /*other*/
                @include mixin.font-setting(14px, 700, color.$secondary-color);
            }
        }
    }
    .btnContainer {
        /*display*/
        display: flex;
        justify-content: flex-end;
        margin: 16px 24px 64px 24px;
        gap: 16px;

        .msgIcon,
        .notifyIcon {
            /*box model*/
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .msgImg,
        .notifyImg {
            /*box model*/
            width: 100%;
            /*display*/
            display: block;
        }
    }
    .userDescription {
        /*display*/
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .descriptionContext {
            @include mixin.font-setting(14px, 400, color.$gray-10);
            /*display*/
            line-height: 22px;
        }
        .follows {
            /*display*/
            gap: 20px;
            display: flex;

            .followsCount,
            .followingCount {
                @include mixin.font-setting(14px, 400, color.$gray-10);
            }
            .followsType,
            .followingType {
                @include mixin.font-setting(14px, 400, color.$secondary-color);
            }
        }
    }
    .userToggleMenu {
        display: flex;
    }
    .tweetListItem {
        flex: 1;
        padding-bottom: 52px;
        overflow-y: scroll;
    }
}
