.modalContainer {
  /*display*/
  display: flex;
  flex-direction: column;
  position: relative;
  /*box model*/
  height: 300px;
  width: 634px;
  border-radius: 14px;
  border:1px solid black;
}
.header {
  /*display*/
  display: flex;
  align-items: center;
  /*box model*/
  height: 56px;
  width: 100%;
  border-bottom: 1px solid #e6ecf0;
}
.modalEsc {
  /*box model*/
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
.body {
  all: unset;
  /*box model*/
  height: 100%;
}
.info {
  /*display*/
  position: absolute;
  top: 73px;
  left: 24px;
  display: flex;
  align-items: center;
}
.avatar {
  /*box model*/
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.placeHolder {
  /*box model*/
  margin-left: 8px;
  /*other*/
  font-size: 16px;
  color: #6C757D;
}
.button {
  /*display*/
  position: absolute;
  bottom: 16px;
  right: 16px;
}