@use '../../assets/styles/color' as color;

.container {
    /*display*/
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .userToggleMenu {
        /*box model*/
        width: 100%;
        /*display*/
        display: flex;
        
    }
    .tweetList {
        /*display*/
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 600px;
    }
}
