@use '../../../assets/styles/color' as color;
@use '../../../assets/styles/mixin';


.modalContainer {
    /*display*/
    display: flex;
    position: relative;
    /*box model*/
    height: 136px;
    width: 100%;
    padding: 16px 25px;
    border-bottom: 10px solid color.$assistant-gray;
}

.avatarContainer {
    /*box model*/
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
   
    .avatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.body {
    all: unset;
    word-wrap: break-word;
    /*box model*/
    flex: 1;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 90px;

    &:focus+.info {
        display: none;
    }

    &.active+.info {
        display: none;
    }
}

.footer {
    /*display*/
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;

    .waring {
        /*display*/
        display: none;
        /*box model*/
        margin-right: 20px;
        /*other*/
        font-size: 15px;
        color: color.$error-color;

        &.active {
            display: flex;
        }
    }

    .headsUp {
        /*display*/
        display: none;
        /*box model*/
        margin-right: 20px;
        /*other*/
        font-size: 15px;
        color: color.$error-color;

        &.active {
            display: flex;
        }
    }
    
}

