.container {
    height: 100vh;
    // margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;

    // width: 90%;
    // gap: 24px;
    // max-width: 992px;
}
.mainContainer {
    overflow-y: scroll;
}
.listContainer {
    padding-bottom: 200px;
}
