.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}
.mainContainer {
    overflow-y: scroll;
}
.listContainer {
    padding-bottom: 200px;
}
